.text-center{ text-align: center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.sign-btbg{background-color: #ffc900;}
.color-white{ color: #ffffff; }
.register a{ color: #333333; text-decoration: none;}