<ion-view view-title="找回密码" titlealign="center"  style="background: url(img/sign-in-bg.png)" hide-nav-bar=false hide-back-button=false>
    <ion-content>
        <div class="list  padding" style="margin-top: 20px">
            <p style="color: white">注册时预留的手机号码找回</p>
            <label class="item item-input" >
                <span class="icon ion-android-phone-portrait"></span>
                <input type="tel" ng-model="user.phone"  placeholder="请输入手机号">
            </label>

            <label class="item item-input" >
                <span class="icon ion-locked"></span>
                <input type="password" ng-model="user.password" placeholder="英文字母加数字长度为6到12位">
            </label>
            <label class="item item-input">
                <span class="icon ion-locked"></span>
                <input type="password" ng-model="user.password2"  placeholder="请确认密码">
            </label>
        </div>

        <div class="padding send-identifying">
            <input class="input-label " type="text" ng-model="user.check"  placeholder="验证码">
            <button class="button button-balanced">发送验证码</button>
        </div>

        <div class="loginButton padding">
            <button class="button ion-unlocked button-block  button-balanced" ng-click="forgotPassword()" style="margin-bottom: 0;color:white;">提交</button>
        </div>
    </ion-content>
</ion-view>