
<ion-view  view-title="注册" titlealign="center"  style="background: url(img/sign-in-bg.png)" hide-nav-bar=false hide-back-button=false>
    <ion-content padding="true" class="background-inherit">
        <div class="list background-inherit">
            <div class="list padding border-radius" style="">
                <label class="item item-input only-border-bottom">
                    <span class="icon ion-android-phone-portrait " ></span>
                    <input type="text" ng-model="user.phone"  placeholder="请输入手机号">
                </label>
                <label class="item item-input only-border-bottom ">
                    <span class="icon ion-person"></span>
                    <input type="text" ng-model="user.name" placeholder="请输入用户名">
                </label>
                <label class="item item-input">
                    <span class="icon ion-locked"></span>
                    <input type="password" ng-model="user.password" placeholder="密码必须是6到12位的数字加字母组成">
                </label>
                <div class="list">
                <div class="item item-input item-select">
                    <div class="input-label">
                        <span  class="icon ion-heart"></span>
                        <span style="color:#111" >职业类型</span>
                    </div>
                    <select ng-model="user.job" convert-to-number >
                        <option  ng-repeat="x in jobs">{{x}}</option>
                    </select>

                </div>
            </div>
        </div>


            <div class="padding send-identifying">
                    <input class="input-label" type="text" ng-model="user.check"  placeholder="验证码" style="display: inline-block; height: 42px;">
                    <button class="button button-balanced" style="display: inline-block;">发送验证码</button>
            </div>

            <div class="loginButton padding">
                <button class="button ion-unlocked button-block  button-balanced" ng-click="signUp()" style="margin-bottom: 0;color:white;">提交</button>
            </div>

        </div>
    </ion-content>
</ion-view>
