
<ion-view view-title="Sign In" hide-nav-bar=true >
  <ion-content>
        <div class="list text-center" >
            <img src="images/logo.png" style="width: 100px; height: auto">
        </div>
        <div class="list text-center">
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-person"></i>账号</span>
                <input type="text" ng-model="user.phone">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-locked"></i>密码</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block sign-btbg color-white" ng-click="signIn()">
                Sign-In
            </button>
            <p class="padding register" >
                <a href="#/sign-up" class="sign-up">注册账号</a>
                <a href="#/forgot-password" class="forget">忘记密码</a>
            </p>
        </div>
    </ion-content>

</ion-view>