<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <ion-tab title="微信" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" ui-sref="wechat-tab.message">
        <ion-nav-view animation="slide-left-right" name="wechat-tab-message"></ion-nav-view>
    </ion-tab>
    <ion-tab title="通讯录" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="wechat-tab.friends">
        <ion-nav-view animation="slide-left-right" name="wechat-tab-friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" ui-sref="wechat-tab.find">
        <ion-nav-view animation="slide-left-right" name="wechat-tab-find"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/wechat/tab/setting">
        <ion-nav-view animation="slide-left-right" name="wechat-tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
