<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content scroll="false" vertical layout>
      <div class="energized-bg info-user">
        <div class="padding overflow-hidden">
          <i class="mdi mdi-pencil-box-outline font-icon-md pull-right"></i>
        </div>
        <div class="padding text-center">
          <div class="avatar">
            <img ng-click="changeHeader()" style="border-radius: 200px;width:200px;height:200px;"
                 src=" {{ userHeader ||'templates/app/img/200_taylor_swift_spl811605_.jpg'}}"  alt="" class="img-responsive" />
          </div>
          <h4 class="no-margin">Taylor Swift</h4>

          <p class="no-margin">PMB 412 Hendersonville, TN 37075 USA</p>
        </div>
      </div>
      <div flex class="list no-margin" style="overflow-y: scroll">



        <a class="item item-icon-left" ui-sref="chat.message" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-account-circle font-icon-md"></i>
            消息
            <span class="badge badge-royal">7</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.templateyun" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-bell-ring font-icon-md"></i>
          云模板
            <span class="badge badge-assertive">新增10</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu4" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-message-processing font-icon-md"></i>
          旅烨视闻
          <span class="badge badge-assertive">67</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu6" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-instagram font-icon-md"></i>
          作品集
          <span class="badge badge-positive">18</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.music" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-library-music font-icon-md"></i>
          Music
          <span class="badge badge-balanced">36</span>
        </a>
      </div>
      <div class="list border-top">
        <a class="item item-icon-left" ui-sref="app.setting" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-settings font-icon-md"></i>
          设置
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!--幻灯片-->
<script id="templates/intro.html" type="text/ng-template">
  <ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >
    <ion-slide>
      <img src="img/adam.jpg" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/ben.png" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/bg.jpeg" width="100%" class="box">
    </ion-slide>
    <ion-slide>
      <img src="img/ionic.png" width="100%" class="box">
    </ion-slide>
  </ion-slide-box>
  </ion-view>
</script>
