<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content scroll="false" vertical layout>
      <div class="energized-bg info-user">
        <div class="padding overflow-hidden">
          <i class="mdi mdi-pencil-box-outline font-icon-md pull-right"></i>
        </div>
        <div class="padding text-center">
          <div class="avatar">
            <img ng-click="changeHeader()" style="border-radius: 200px;width:200px;height:200px;"
                 src=" {{ user.headpic ||'templates/app/img/200_taylor_swift_spl811605_.jpg'}}"  alt="" class="img-responsive" />
          </div>
          <h4 class="no-margin">{{user.name}}</h4>
          <p class="no-margin">{{user.job}}</p>
        </div>
      </div>
      <div flex class="list no-margin" style="overflow-y: scroll">

        <a class="item item-icon-left" ui-sref="app.tab.message" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-account-circle font-icon-md"></i>
            消息
            <span class="badge badge-royal">7</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.templateyun" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-bell-ring font-icon-md"></i>
          云模板
            <span class="badge badge-assertive">新增10</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu4" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-message-processing font-icon-md"></i>
          旅烨视闻
          <span class="badge badge-assertive">67</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu6" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-instagram font-icon-md"></i>
          作品集
          <span class="badge badge-positive">18</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.music" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-library-music font-icon-md"></i>
          Music
          <span class="badge badge-balanced">36</span>
        </a>
      </div>
      <div class="list border-top">
        <a class="item item-icon-left" ui-sref="app.setting" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-settings font-icon-md"></i>
          设置
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!--幻灯片-->
<script id="templates/intro.html" type="text/ng-template">
  <ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >
    <ion-slide>
      <img src="img/adam.jpg" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/ben.png" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/bg.jpeg" width="100%" class="box">
    </ion-slide>
    <ion-slide>
      <img src="img/ionic.png" width="100%" class="box">
    </ion-slide>
  </ion-slide-box>
  </ion-view>
</script>
<script id="setting2.html" type="text/ng-template">
  <ion-popover-view style="width: 90%;">
    <ion-header-bar>
      <h1 class="title">我的个性签名</h1>
    </ion-header-bar>
    <ion-content>
           <textarea  class="padding"  style="width:94%; height: 100px; border: 1px solid #ccc;resize: none; margin:10px;"
                      placeholder="记录此刻心情"></textarea>
      <button class="button button-positive" style="float: right;margin-top: 10px; margin-right: 10px;">
        保存签名
      </button>

    </ion-content>
  </ion-popover-view>
</script>

<script id="templates/headpic.html" type="text/ng-template">
 <ion-modal-view>



  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">头像设置</h1>
    <button class="button button-clear button-primary" ng-click="headpic.hide()">取消</button>
  </ion-header-bar>





  <ion-content class="padding">
    <div class="list card" >
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2 style="line-height: 40px;" > 头像预览  <i class=" icon ion-chevron-right"></i></h2>
      </a>
    </div>
    <div class="list">


      <ul class="list text-center">
        <li class="item">
         拍照
        </li>
        <li class="item">
          从相册中选取
        </li>
        <li class="item">
         保存头像
        </li>
      </ul>

    </div>
  </ion-content>
</ion-modal-view>
</script>



<script id="templates/aboutus.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">关于我们</h1>
      <button class="button button-clear button-primary" ng-click="aboutus.hide()">取消</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        这是一个很牛的团队！
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">个人信息</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
    </ion-header-bar>
    <ion-content class="padding">

      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" placeholder="{{user.name}}修改用户名">
        </label>
      </div>

      <div class="list card" >
        <div class="item item-button-right">
          <span> 编辑个性签名</span>
          <button  class="button button-clear" ng-click="openPopover($event)">
            <i class="icon ion-edit  "></i>
          </button>
        </div>
      </div>

      <div class="list">
        <label class="item positive-bg "><div class="input-label light">性别</div></label>
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'男'">男</ion-radio>
          <ion-radio ng-model="choice" ng-value="'女'">女</ion-radio>
        </ion-list>
      </div>

      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            职业类型
          </div>
          <select ng-model="user.job" convert-to-number>
            <option  ng-repeat="x in jobs">{{x}}</option>
          </select>
        </label>
      </div>

      <button class="button button-full button-positive">
       保存修改
      </button>
    </ion-content>
  </ion-modal-view>
</script>


<!--<script id="personalInformation.html" type="text/ng-template">-->
  <!--<ion-popover-view style="width: 90%;">-->
      <!--HGGJGJGJGJ-->
    <!--</ion-content>-->
  <!--</ion-popover-view>-->
<!--</script>-->