<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content scroll="false" vertical layout>
      <div class="energized-bg info-user">
        <div class="padding overflow-hidden">
          <i class="mdi mdi-pencil-box-outline font-icon-md pull-right"></i>
        </div>
        <div class="padding text-center">
          <div class="avatar">
            <img ng-click="changeHeader()" style="border-radius: 200px;width:200px;height:200px;"
                 src=" {{ user.headpic ||'img/wh.jpg'}}"  alt="" class="img-responsive" />
          </div>
           <strong class="no-margin">{{user.name}}</strong>
           <strong  class="no-margin">{{user.job}}</strong>
            <p class="no-margin">{{user.signature}}</p>
        </div>
      </div>
      <div flex class="list no-margin" style="overflow-y: scroll">

        <a class="item item-icon-left" ui-sref="app.tab.message" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-account-circle font-icon-md"></i>
            消息
            <span class="badge badge-royal">7</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.templateyun" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-bell-ring font-icon-md"></i>
          云模板
            <span class="badge badge-assertive">新增10</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu4" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-message-processing font-icon-md"></i>
          旅烨视闻
          <span class="badge badge-assertive">67</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.menu6" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-instagram font-icon-md"></i>
          作品集
          <span class="badge badge-positive">18</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.music" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-library-music font-icon-md"></i>
          Music
          <span class="badge badge-balanced">36</span>
        </a>
      </div>
      <div class="list border-top">
        <a class="item item-icon-left" ui-sref="app.setting" ui-sref-active="active" menu-close>
          <i class="icon mdi mdi-settings font-icon-md"></i>
          设置
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!--幻灯片-->
<script id="sintro.htm" type="text/ng-template">
  <ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >
    <ion-slide>
      <img src="img/adam.jpg" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/ben.png" class="box" width="100%">
    </ion-slide>
    <ion-slide>
      <img src="img/bg.jpeg" width="100%" class="box">
    </ion-slide>
    <ion-slide>
      <img src="img/ionic.png" width="100%" class="box">
    </ion-slide>
  </ion-slide-box>
  </ion-view>
</script>
<script id="setting2.html" type="text/ng-template">
  <ion-popover-view style="width: 100%; height: 430px;" >
    <ion-header-bar>
      <h1 class="title">我的头像</h1>
    </ion-header-bar>
    <ion-content>
        <img  src="{{'img/ben.png'}}" class="img-responsive" style="width: 100%; height: auto; margin: 0 auto"/>
    </ion-content>
  </ion-popover-view>
</script>


<script id="templates/headpic.html" type="text/ng-template">
 <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">头像设置</h1>
    <button class="button button-clear button-primary" ng-click="headpic.hide()">取消</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card" >
        <img src=" {{ user.headpic ||'templates/app/img/200_taylor_swift_spl811605_.jpg'}}" class="img-responsive" style="width: 100%; height: auto; margin: 0 auto" >
    <div class="list">


      <ul class="list text-center">
        <li class="item">
         拍照
        </li>
        <li class="item">
          从相册中选取
        </li>
        <li class="item">
         保存头像
        </li>
      </ul>

    </div>
  </ion-content>
</ion-modal-view>
</script>



<script id="templates/aboutus.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">关于我们</h1>
      <button class="button button-clear button-primary" ng-click="aboutus.hide()">取消</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        这是一个很牛的团队！
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">个人信息</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
    </ion-header-bar>
    <ion-content class="padding">

      <div class="list">
        <label class="item item-input">
          <strong class="input-label">用户名</strong>
          <input type="text" placeholder="{{user.name}}" ng-model="user.name" >
        </label>

          <label class="item item-input">
              <strong class="input-label">手机号</strong>
              <input type="text"  placeholder="{{user.phone}}" ng-model="user.phone" >
          </label>
      </div>



      <div class="list card" >
        <div class="item item-button-right">
          <strong> 编辑个性签名</strong>
        </div>
          <textarea  class="padding"  style="width:94%; height: 80px; border: 1px solid #ccc;resize: none; margin:10px;" placeholder="{{user.signature}}"></textarea>
      </div>

      <div class="list">
        <label class="item "><strong class="input-label">性别</strong></label>
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'男'">男</ion-radio>
          <ion-radio ng-model="choice" ng-value="'女'">女</ion-radio>
        </ion-list>
      </div>

      <div class="list">
        <label class="item item-input item-select">
          <strong class="input-label">
            职业类型
          </strong>
          <select ng-model="user.job" convert-to-number>
            <option  ng-repeat="x in jobs">{{x}}</option>
          </select>
        </label>
      </div>

      <button class="button button-full button-positive"  ng-click="changePersonalInformation()">
       保存修改
      </button>
    </ion-content>
  </ion-modal-view>
</script>
