<ion-view>
  <ion-header-bar class="bar-dark" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">Photo</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content class="photo">

    <div class="list">

      <div class="item item-divider">
        Candy Bars <br/>
        <span><i class="ion ion-filing"></i> 19 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"/>
        </div>
        <div flex class="padding-5">
          <img src="http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg" alt="" class="img-responsive"/>

        </div>
        <div flex class="padding-5">
          <img src="http://t07.deviantart.net/UE-5RrKHQ2a_Krv5DOkK8mIUfeI=/300x200/filters:fixed_height(100,100):origin()/pre06/6846/th/pre/i/2012/299/2/c/herbst_06_by_anschi71-d5j0260.jpg" alt="" class="img-responsive"/>

        </div>
      </div>

      <div class="item item-divider">
        Maldives <br/>
        <span><i class="ion ion-filing"></i> 102 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="https://www.constancehotels.com/media/1970/halaveli-maldives-water-villa-6.jpg?anchor=center&mode=crop&width=300&height=200&rnd=130555045620000000" alt="" class="img-responsive"/>
        </div>
        <div flex class="padding-5">
          <img src="http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg" alt="" class="img-responsive"/>

        </div>
        <div flex class="padding-5">
          <img src="http://r-ec.bstatic.com/images/hotel/max300/389/38967451.jpg" alt="" class="img-responsive"/>

        </div>
      </div>

      <div class="item item-divider">
        caribbean <br/>
        <span><i class="ion ion-filing"></i> 37 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://cleditorial.s3.amazonaws.com/article/cruising101/qa/top-caribbean-excursions/caribbean-excursions-stingray-city.jpg" alt="" class="img-responsive"/>
        </div>
        <div flex class="padding-5">
          <img src="http://img.holidayplace.co.uk/gallery/content/105868/sandals-resorts-in-key-caribbean-holiday-destinations-reap-the-rewards-of-earthcheck-programme.jpg" alt="" class="img-responsive"/>

        </div>
        <div flex class="padding-5">
          <img src="http://www.labspaces.net/images/news/Nwhi_-_French_Frigate_Shoals_reef_-_many_fish.jpg" alt="" class="img-responsive"/>

        </div>
      </div>

      <div class="item item-divider">
        Candy Bars <br/>
        <span><i class="ion ion-filing"></i> 19 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"/>
        </div>
        <div flex class="padding-5">
          <img src="http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg" alt="" class="img-responsive"/>

        </div>
        <div flex class="padding-5">
          <img src="http://t07.deviantart.net/UE-5RrKHQ2a_Krv5DOkK8mIUfeI=/300x200/filters:fixed_height(100,100):origin()/pre06/6846/th/pre/i/2012/299/2/c/herbst_06_by_anschi71-d5j0260.jpg" alt="" class="img-responsive"/>

        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
