<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">找回密码</h1>
    </ion-header-bar>

    <ion-content>

        <div class="list  padding" style="margin-top: 50px">
            <p>输入手机收到的验证码</p>
            <label class="item item-input" >
                <input type="password" ng-model="user.tel">
                <span class="input-label">验证码</span>
            </label>
        </div>
        <div class="padding" style="margin-top: 50px">
            <p class="text-center">
                <button class="button button-block button-positive" ng-click="signIn(user)">
                    <a href="#/forgot-password-next">下一步</a>
                </button>
            </p>
        </div>
    </ion-content>
</ion-view>