
<ion-view view-title="注册" hid>
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button side="" class="button-clear">
            <i class="ion-arrow-left-c" ng-click="goBack()"></i>后退
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <div class="list ">
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-android-phone-portrait">手机号</i></span>
                <input type="text" ng-model="username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="password">
            </label>
        </div>
        <div class="padding">
            <p class="text-center">
                <a href="#/sign-in.html">有密码，去登陆</a>
            </p>
        </div>
    </ion-content>
</ion-view>