<ion-view>
    <ion-nav-bar title="注册" align="center">

    </ion-nav-bar>
    <ion-content>
        <div class="list text-center">
            <label class="item item-input">
                <span class="input-label"><i class="ion-cloud"></i>账号</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
    </ion-content>
</ion-view>