
<ion-nav-view name="signup">
<ion-view align-title="center" title="注册" hide-nav-bar=false hide-back-button=false>


    <ion-content>
        <div class="list ">
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-android-phone-portrait">手机号</i></span>
                <input type="text" ng-model="username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="password">
            </label>
        </div>
    </ion-content>
</ion-view>
</ion-nav-view>