
<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-dark" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">作品集</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>



  <ion-content class="photo">
    <div id="rightDisplay" ng-if="bigImage" class="popover-backdrop"
         style="position: fixed;top:0;left: 0;z-index: 10; width: 100%;height: 100%;background:rgba(0,0,0, 0.8);"
         ng-click="hideBigImage()">

      <img class="img-responsive"
           style="position: absolute;top: 20%;left: 5%;z-index: 10;display: block;
        height: 40%;width: 90%; border: 1px solid #ccc; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);"
           src="{{Url}}"/>
    </div>
    <div class="list">
      <div class="item item-divider">
        Candy Bars <br/>
        <span><i class="ion ion-filing"></i> 222222photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg')"/>
        </div>
        <div flex class="padding-5">
          <img src="http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg')"/>

        </div>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg')"/>

        </div>
      </div>

      <div class="item item-divider">
        Maldives <br/>
        <span><i class="ion ion-filing"></i> 102 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="https://www.constancehotels.com/media/1970/halaveli-maldives-water-villa-6.jpg?anchor=center&mode=crop&width=300&height=200&rnd=130555045620000000" alt="" class="img-responsive"
               ng-click="shouBigImage('https://www.constancehotels.com/media/1970/halaveli-maldives-water-villa-6.jpg?anchor=center&mode=300&height=200&rnd=130555045620000000')"/>
        </div>
        <div flex class="padding-5">
          <img src="http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg')"/>

        </div>
        <div flex class="padding-5">
          <img src="http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg')"/>

        </div>
      </div>

      <div class="item item-divider">
        caribbean <br/>
        <span><i class="ion ion-filing"></i> 37 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://media.travelbag.co.uk/content/Ao/images/MVMLEHTL009Aer_13_web2.jpg')"/>
        </div>
        <div flex class="padding-5">
          <img src="http://img.holidayplace.co.uk/gallery/content/105868/sandals-resorts-in-key-caribbean-holiday-destinations-reap-the-rewards-of-earthcheck-programme.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://img.holidayplace.co.uk/gallery/content/105868/sandals-resorts-in-key-caribbean-holiday-destinations-reap-the-rewards-of-earthcheck-programme.jpg')"/>

        </div>
        <div flex class="padding-5">
          <img src="http://www.labspaces.net/images/news/Nwhi_-_French_Frigate_Shoals_reef_-_many_fish.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://www.labspaces.net/images/news/Nwhi_-_French_Frigate_Shoals_reef_-_many_fish.jpg')"/>

        </div>
      </div>

      <div class="item item-divider">
        Candy Bars <br/>
        <span><i class="ion ion-filing"></i> 19 photos </span>
      </div>

      <div class="album padding-5" horizontal layout>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg')"/>
        </div>
        <div flex class="padding-5">
          <img src="http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://nhatrangholiday.net/images/thumb/m_nhatrangholiday-net-12.jpg')"/>

        </div>
        <div flex class="padding-5">
          <img src="http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg" alt="" class="img-responsive"
               ng-click="shouBigImage('http://hoangdiep.vn/files/image/jpg/thamkhao/vuonthien.jpg')"/>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
