<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-royal" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">Notifications</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list time-line">

      <a class="item item-avatar">
        <img src="http://www.avatarsdb.com/avatars/swift_smile.jpg">
        <div class="text-time-line">
          <h2>Taylor Swift <span>like</span> Adam</h2>
          <p><i class="ion ion-clock"></i> Just now</p>
        </div>

        <div class="dot-time-line positive-bg"></div>

      </a>
      <a class="item item-avatar">
        <img src="http://static.dnaindia.com/sites/default/files/styles/thumbnail/public/2015/09/29/380501-361193-harry-potter-high-definition-wallpapers-lovely-desktop-background-images-widescreen.jpg?itok=zRlW356Z">
        <div class="text-time-line">
          <h2>Harry Potter <span>comments</span> your post</h2>
          <p><i class="ion ion-clock"></i> 7 minutes ago</p>
        </div>
        <div class="dot-time-line assertive-bg"></div>
      </a>
      <a class="item item-avatar">
        <img src="http://www.avatarsdb.com/avatars/cute_selena_gomez.jpg">
        <div class="text-time-line">
          <h2>Selena Gomez <span>Followed</span> 3 people</h2>
          <ul class="list-follower">
            <li><img src="http://www.picgifs.com/avatars/celebrities/justin-bieber/avatars-justin-bieber-990310.jpg" alt=""/></li>
            <li><img src="http://images.fanpop.com/images/image_uploads/Adam-adam-levine-775158_100_100.jpg" alt=""/></li>
            <li><img src="http://orig01.deviantart.net/48d2/f/2010/001/5/7/g_dragon_icon_1_by_wonderpaper.jpg" alt=""/></li>
          </ul>
          <p><i class="ion ion-clock"></i> 7 minutes ago</p>
        </div>
        <div class="dot-time-line calm-bg"></div>
      </a>
      <a class="item item-avatar">
        <img src="http://images6.fanpop.com/image/photos/32900000/-Adele-adele-32952362-100-100.png">
        <div class="text-time-line">
          <h2>Adele <span>added</span> 1 photo</h2>
          <p><i class="ion ion-clock"></i> 7 minutes ago</p>
          <img src="http://file.vforum.vn/hinh/2014/6/hinh-nen-may-tinh-hd-thien-nhien-9.jpg" alt="" class="img-responsive padding-10-0"/>
        </div>
        <div class="dot-time-line royal-bg"></div>
      </a>
    </div>

  </ion-content>
</ion-view>
