<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-balanced" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">Feeds</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content class="profile">


    <div class="list no-margin">

      <a class="item item-thumbnail-left button-profile">
        <img src="http://4.bp.blogspot.com/-RO2T0ofJqxc/UIVlcdtPQ6I/AAAAAAAADas/xtjKH26jHhA/s400/Red-taylor-swift-32284207-500-500_zps38263481.jpg" class="border-radius">
        <h2>Taylor Swift</h2>
        <p>PMB 412, TN 37075 USA</p>
        <div horizontal layout>
          <div flex class="m-r-xl">
            <button class="button button-balanced button-small button-full no-margin">
              FOLLOW
            </button>
          </div>
          <div flex>
            <button class="button button-stable button-small button-full no-margin">
              WRITE
            </button>
          </div>
        </div>
      </a>

    </div>

    <div class="navigation-profile" horizontal layout>
      <div flex class="tab-navigation text-center active">
        <i class="ion ion-grid"></i>
      </div>
      <div flex class="tab-navigation text-center border">
        <i class="ion ion-ios-barcode-outline"></i>
      </div>
      <div flex class="tab-navigation text-center border">
        <i class="ion ion-android-menu"></i>
      </div>
    </div>
    <div class="list audio-list">
      <div class="item">
        <div class="name-audio">
          <span class="positive-bg"><i class="ion ion-ios-pause"></i></span> Blank Space
        </div>
        <div class="range range-positive">
          0:50
          <input type="range" name="volume" min="0" max="100" value="33">
          3:45
        </div>
      </div>
      <div class="item">
        <div class="name-audio">
          <span class="calm-bg"><i class="ion ion-ios-play"></i></span> Shake It Off
        </div>
        <div class="range range-positive">
          0:00
          <input type="range" name="volume" min="0" max="100" value="00">
          4:05
        </div>
      </div>
      <div class="item">
        <div class="name-audio">
          <span class="calm-bg"><i class="ion ion-ios-play"></i></span> You Belong With Me
        </div>
        <div class="range range-positive">
          0:00
          <input type="range" name="volume" min="0" max="100" value="00">
          6:00
        </div>
      </div>
      <div class="item">
        <div class="name-audio">
          <span class="calm-bg"><i class="ion ion-ios-play"></i></span> Back To December
        </div>
        <div class="range range-positive">
          0:00
          <input type="range" name="volume" min="0" max="100" value="00">
          3:05
        </div>
      </div>
      <div class="item">
        <div class="name-audio">
          <span class="calm-bg"><i class="ion ion-ios-play"></i></span> Love Story
        </div>
        <div class="range range-positive">
          0:00
          <input type="range" name="volume" min="0" max="100" value="00">
          4:25
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>
