<ion-view  hide-nav-bar='true' hide-back-button="true"  style="background: url(img/sign-in-bg.png)">
    <ion-header-bar class="bar-royal" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">设置头像</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-search"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="background-inherit">
        <div class="list background-inherit" >
             hahahhahha
        </div>

    </ion-content>
</ion-view>







<!--<ion-view hide-nav-bar="true" hide-back-button="true">-->
    <!--<ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >-->
        <!--<ion-slide>-->
            <!--<img src="img/adam.jpg" class="box" width="100%">-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
            <!--<img src="img/ben.png" class="box" width="100%">-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
            <!--<img src="img/bg.jpeg" width="100%" class="box">-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
            <!--<img src="img/ionic.png" width="100%" class="box">-->
        <!--</ion-slide>-->
    <!--</ion-slide-box>-->
<!--</ion-view>-->