<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-positive" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">设置</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content class="setting">

      <div class="list card" >
          <div class="item item-button-right">
             <span style="display: inline-block"><img  style="width:46px;" src=" {{ user.headpic ||'templates/app/img/200_taylor_swift_spl811605_.jpg'}}"   class="img-responsive"  /></span>
             <h3 style="display: inline-block; line-height: 36px; ">头像设置</h3>
             <button  class="button button-clear" style="margin-top: 16px;"  ng-click="headpic.show()" >
                 <i class="icon ion-chevron-right"></i>
             </button>
          </div>
      </div>

    <div class="list card" >
    <div class="item item-button-right">
      <span> 个人信息</span>
      <button  class="button button-clear" ng-click="modal.show()"  >
        <!--<div ng-include="'persinalInformation.html'"></div>-->
        <i class="icon ion-information-circled  "></i>
      </button>
    </div>
  </div>

    <div class="list card" >
      <div class="item item-button-right">
        <span> 关于我们</span>
        <button  class="button button-clear" ng-click="aboutus.show()">
          <i class="icon ion-chevron-right "></i>
        </button>
      </div>
    </div>




    <!--<ul class="list card">-->
      <!--<li class="item item-toggle">-->
       <!--声音-->
        <!--<label class="toggle toggle-positive">-->
          <!--<input type="checkbox" checked="">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</li>-->
      <!--<li class="item item-toggle">-->
        <!--震动-->
        <!--<label class="toggle toggle-positive">-->
          <!--<input type="checkbox" checked="">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</li>-->
      <!--<li class="item item-checkbox">-->
        <!--<label class="checkbox">-->
          <!--<input type="checkbox">-->
        <!--</label>-->
        <!--Flux Capacitor-->
      <!--</li>-->

      <!--<li class="item range">-->
        <!--<span>音量大小</span>-->
        <!--<i class="icon ion-volume-low"></i>-->
        <!--<input type="range" name="volume">-->
        <!--<i class="icon ion-volume-high"></i>-->
      <!--</li>-->

      <!--<li class="item range range-positive">-->
        <!--<span>屏幕亮度</span>-->
        <!--<i class="icon ion-ios-sunny-outline"></i>-->
        <!--<input type="range" name="volume" min="0" max="100" value="33">-->
        <!--<i class="icon ion-ios-sunny"></i>-->
      <!--</li>-->
    <!--</ul>-->



    <!--<div class="list">-->
      <!--<label class="item item-input item-select">-->
        <!--<div class="input-label">-->
          <!--Lightsaber-->
        <!--</div>-->
        <!--<select>-->
          <!--<option>Blue</option>-->
          <!--<option selected>Green</option>-->
          <!--<option>Red</option>-->
        <!--</select>-->
      <!--</label>-->
    <!--</div>-->


    <div class="list">
      <button class="button button-full button-positive">
           退出登录
      </button>
    </div>



  </ion-content>
</ion-view>
