<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >
        <ion-slide>
            <img src="img/adam.jpg" class="box" width="100%">
        </ion-slide>
        <ion-slide>
            <img src="img/ben.png" class="box" width="100%">
        </ion-slide>
        <ion-slide>
            <img src="img/bg.jpeg" width="100%" class="box">
        </ion-slide>
        <ion-slide>
            <img src="img/ionic.png" width="100%" class="box">
        </ion-slide>
    </ion-slide-box>
</ion-view>