<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar class="bar-assertive" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Profile</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical"></button>
        </div>
    </ion-header-bar>
    <ion-content class="profile">

        <img src="http://data.hdwallpapers.im/cowgirl_beauty.jpg" alt="" class="img-responsive"/>

        <h3 class="text-center">Taylor Swift</h3>
        <h1>FRIENDS</h1>

    </ion-content>
</ion-view>
