<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-royal" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">旅烨模板云</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content>


        <!--<a ui-sref="templateIndex">绿叶</a>-->

      <a click="window.open(‘http://shsx.alvye.cn’, '_system')" >旅烨实习生</a>
      <a click="window.open('http://www.baidu.com','_blank')" >旅烨实习生</a>
      <a click="window.open('http://www.baidu.com','_blank', 'location=no'" >旅烨实习生</a>
      <a ng-click="open()" >旅烨实习生</a>
      <a ng-click="open()" >旅烨实习生</a>

  </ion-content>
</ion-view>
