<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="bar-royal" align-title="left">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <h1 class="title">旅烨模板云</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-search"></button>
    </div>
  </ion-header-bar>
  <ion-content>


      <div class="row">
        <div class="col col-75">.col.col-75</div>
        <div class="col">.col</div>
      </div>
      <div class="row">
        <div class="col col-75">.col.col-75</div>
        <div class="col">.col</div>
      </div>
      <div class="row">
        <div class="col col-75">.col.col-75</div>
        <div class="col">.col</div>
      </div>



      <div class="col col-50" ng-repeat="demo in demos">

        <img   src="{{demo.preview}}" height="99px" ng-click="viewTemplate(demo)">
        <div class="item item-text-wrap">
          {{demo.title}}
        </div>
      </div>


  </ion-content>
</ion-view>
