
<ion-view title="聊天" title-algin="center"  hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-dark" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">消息</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-search"></button>
        </div>
    </ion-header-bar>
    <ion-content on-swipe-left="onSwipeLeft()">

        <ion-list rj-close-back-drop>
            <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)"  ng-repeat="chatRoom in chatRooms" ng-click="showMessageDetail(chatRoom)">
                <img ng-src="{{chatRoom.talkTo.headPic}}">
                <!--<span class="rj-sm-red-icon" ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>-->
                <h2 ng-bind="chatRoom.talkTo.name"></h2>
                <p class="rj-list-p" ng-bind="chatRoom.lastMessage.content"></p>
                <span class="rj-push-right" ng-bind="chatRoom.lastMessage.createDt"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>